<div
  class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle"
>
  <div
    class="container"
    [ngClass]="isSignDivVisible ? 'active' : ''"
    id="container"
  >
    <div class="form-container sign-up">
      <form
        novalidate
        #signUpForm="ngForm"
        (ngSubmit)="handleSignUpForm(signUpForm)"
      >
        <h1>Create Account</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="bi bi-google"></i></a>
          <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
          <a href="#" class="icon"><i class="bi bi-github"></i></a>
          <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
        </div>
        <span>or use your email for registeration</span>
        <input
          type="text"
          name="name"
          #userName="ngModel"
          [(ngModel)]="singUp.name"
          placeholder="Name"
          required
          minlength="4"
        />
        <div class="text-danger" *ngIf="userName.touched && userName.invalid">
          <small *ngIf="userName.errors?.['required']">
            *This field is required
          </small>
          <small *ngIf="userName.errors?.['minlength']">
            *Your username must be at least 4 characters long
          </small>
        </div>
        <input
          type="email"
          name="email"
          [(ngModel)]="singUp.email"
          placeholder="Email"
          #userEmail="ngModel"
          required
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
        />
        <div *ngIf="userEmail.touched && userEmail.invalid" class="text-danger">
          <small *ngIf="userEmail.errors?.['required']">
            *This field is required
          </small>
          <small *ngIf="userEmail.errors?.['pattern']">
            *Please enter valid email
          </small>
        </div>
        <input
          type="password"
          [(ngModel)]="singUp.password"
          name="password"
          placeholder="Password"
          #userPassword="ngModel"
          required
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
        />

        <div
          *ngIf="userPassword.invalid && userPassword.touched"
          class="text-danger"
        >
          <small *ngIf="userPassword.errors?.['required']"
            >*This field is required</small
          >
          <small *ngIf="userEmail.errors?.['pattern']"
            >Password should be atleast 8 characters long and should contain one
            number,one character and one special character
          </small>
        </div>
        <button (click)="handleSignUp()">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in">
      <form
        novalidate
        #signInForm="ngForm"
        (ngSubmit)="handleSignInForm(signUpForm)"
      >
        <h1>Sign In</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="bi bi-google"></i></a>
          <a href="#" class="icon"><i class="bi bi-facebook"></i></a>
          <a href="#" class="icon"><i class="bi bi-github"></i></a>
          <a href="#" class="icon"><i class="bi bi-linkedin"></i></a>
        </div>
        <span>or use your email password</span>

        <input
          name="email"
          #loginEmail="ngModel"
          [(ngModel)]="login.email"
          type="email"
          placeholder="Email"
          pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          required
        />
        <div
          class="text-danger"
          *ngIf="loginEmail.invalid && loginEmail.touched"
        >
          <small *ngIf="loginEmail.errors?.['required']">
            *This field if required
          </small>
          <small *ngIf="loginEmail.errors?.['pattern']">
            *Please Enter valid email
          </small>
        </div>
        <input
          name="password"
          #loginPassword="ngModel"
          type="password"
          placeholder="Password"
          [(ngModel)]="login.password"
          required
          pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$"
        />
        <div
          class="text-danger"
          *ngIf="loginPassword.invalid && loginPassword.touched"
        >
          <small *ngIf="loginPassword.errors?.['required']">
            *This field if required
          </small>
          <small *ngIf="loginPassword.errors?.['pattern']">
            *Please Enter valid email
          </small>
        </div>
        <a href="#">→ Forget Your Password? ←</a>
        <button>Sign In</button>
      </form>
    </div>
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button class="hidden" id="login" (click)="isSignDivVisible = false">
            Sign In
          </button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button
            class="hidden"
            id="register"
            (click)="isSignDivVisible = true"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
