@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.filter-component-container {
  padding-top: 80px;
  color: #000000;
  font-family: "Poppins", sans-serif;

  input {
    cursor: pointer;
    border: none;
  }
}
