@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.sub-navbar-container {
  width: 100%;
  background: #dfdfdf;
  position: fixed;
  top: 60px;
  left: 0px;
  z-index: 1;
}
.sub-navbar {
  padding: 8px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sub-navbar a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
}
svg {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
