<!-- <div class="carousel_container">
  <div class="carousel_title">Brand in focus</div>
  <app-carousel></app-carousel>
  <div class="offer_banner">
    <img src="../../assets/useCodeBanner.webp" alt="" width="100" />
  </div>
  <div class="new-arrivals-component">
    <div class="new-arrival-item">
      <div class="horizantal"></div>
      <h3 class="title">New Arrivals</h3>
      <div class="horizantal"></div>
    </div>
    <div class="new-arrival-container">
      <ng-container *ngFor="let i of getNewArrivals">
        <div class="arrivals-container">
          <img [src]="i.img" alt="..." />
          <h6>
            {{ i.name }}
          </h6>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="categories-main-container">
    <div class="cate1"></div>
    <h3 class="category-title">Category</h3>
    <div class="cate1"></div>
  </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
