<div class="products-card-container">
  <div class="products-card">
    <img
      src="{{ products.image_link }}"
      alt=""
      (click)="handlePopUp(products)"
    />

    <div class="cardBody">
      <div class="display-6 fs-6 fw-medium mb-1">
        {{ products.name.substr(0, 25) }}...
      </div>
      <div class="display-1 fs-6">Price: ${{ products.price }}</div>
      <div class="display-1 fs-6">
        Product type: {{ products.product_type }}
      </div>
      <div
        class=""
        [ngStyle]="{
          fontWeight: '500',
          fontSize: '12px',
          color: products.in_stock ? 'Green' : 'Red'
        }"
      >
        {{ products.in_stock ? "Availble in stock" : "Not available in stock" }}
      </div>
      <a
        href="{{ products.product_link }}"
        target="_blank"
        class="text-decoration-none text-black display-6 fs-6"
        >more details...</a
      >
    </div>

    <div class="button" (click)="handleAddToCart(products)">
      <div class="button-wrapper">
        <div class="text">ADD TO CART</div>
        <span class="icon">
          <svg
            viewBox="0 0 16 16"
            class="bi bi-cart2"
            fill="currentColor"
            height="16"
            width="16"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
            ></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</div>
