@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
:root {
  --maybelline--theme-main-color: rgb(252, 39, 121);
  --maybelline--background--white-color: #ffffff;
  --black--theme-color: #000000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  height: 100%;
}
body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
#root {
  height: 100%;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Dancing Script", cursive;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
